@import "tailwindcss";

@theme {
    --color-noir: #0F171A; 
    --color-fonce-800: #141E22;
    --color-fonce-600: #1A262D;
    --color-fonce-400: #283943;
    --color-fonce-200: #2E414D;
    --color-vert: #39DB7D;
    --color-vert-citron: #BBEF20;
    --color-jaune: #FFEA00;
    --color-rouge: #F95454;
    --color-orange: #FF9D23;
    --color-bleu: #338DFF;
}

#datepicker .p-inputtext {
    @apply rounded-lg border-[1.75px] border-fonce-400 hover:border-gray-500;
}

#fact .p-inputtext {
    @apply bg-fonce-600 border-none; 
}

#datepicker input {
    @apply text-lg font-semibold text-gray-300 border-[1.75px] py-1.5 bg-fonce-600 ring-0 focus:ring-gray-300 focus:border-gray-300;
}

#vente-date .p-inputtext {
    @apply bg-fonce-200 ring-0 border-none;
}

.p-dropdown {
    @apply w-full h-[43.2px] flex items-center justify-center bg-transparent border-[1.75px] text-gray-300 border-fonce-400 ring-0;
}

.p-dropdown-label {
    @apply text-lg font-semibold text-gray-300
}