@import "tailwindcss";

@theme {
    --color-noir: #0F171A; 
    --color-fonce-800: #141E22;
    --color-fonce-600: #1A262D;
    --color-fonce-400: #283943;
    --color-fonce-200: #2E414D;
    --color-vert: #39DB7D;
    --color-vert-citron: #BBEF20;
    --color-jaune: #FFEA00;
    --color-rouge: #F95454;
    --color-orange: #FF9D23;
    --color-bleu: #338DFF;
}